
html {
  font-family: Arvo, serif;
  font-family: "Cedarville Cursive", cursive;
}

p {
  margin: 0;
}

.second {
  padding-left: 10em;
  padding-right: 10em;
}

.first {
  font-family: Arvo, serif;
}

.third {
  font-family: Arvo, serif;
}

.script {
  font-family: "Cedarville Cursive", cursive;
}

.line {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.right {
  padding-right: 3em;
}

.time {
  padding-right: 5em;
}

@media only screen and (min-width:38em) {

.second {
  padding: 1em;
}

.time {
  padding-right: 7em;
}

}
