
html {
  font-family: Arvo, serif;
  font-family: "Cedarville Cursive", cursive;
}

p {
  margin: 0;
}

.first {
  font-family: Arvo, serif;
}

.second {
  border-top: 1px;
}

.third {
  font-family: Arvo, serif;
}

.script {
  font-family: "Cedarville Cursive", cursive;
}

.line {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.time {
  padding-right: 5em;

}
